{erl_opts, [
    {i, "../../deps"},  % what gives ?!? weird!
    {i, "../../apps"},
    warnings_as_errors,
    debug_info
]}.

{deps, [
    % The Rabbit MQ client libs are pre-built and not rebar'ified,
    % they get fetched in the Makefile.
    {amqp_client, ".*"},
    {rabbit_common, ".*"}
]}.

{sub_dirs, [
    "apps/rmq_simple"
]}.
